<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
    <filter>
        <blacklist>
            <directory suffix=".php">.</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log highLowerBound="100" lowUpperBound="99" type="coverage-html" target="code-coverage" />
    </logging>

    <testsuites>
        <testsuite name="mmoussa/doctrine-qbmocker">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
