<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <filter>
        <blacklist>
            <directory suffix=".php">.</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log highLowerBound="100" lowUpperBound="99" type="coverage-html" target="build/code-coverage" />
        <log type="coverage-clover" target="build/clover.xml" />
    </logging>

    <testsuites>
        <testsuite name="mmoussa/doctrine-qbmocker">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
